<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867401389292-gf5benl85a87afa998c223rdo8fduar7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867401389292-gf5benl85a87afa998c223rdo8fduar7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867401389292-6hrdn9cdim4n4phdvapgqoli3envf0c5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOj6c1pDewZGJMyHCBWfzYa6oKIc8swsE</string>
	<key>GCM_SENDER_ID</key>
	<string>867401389292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makingstuffup.exampleprogram1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>friendly-chat-48aad</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-chat-48aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867401389292:ios:e4f632fa2480832071c1c9</string>
	<key>DATABASE_URL</key>
	<string>https://friendly-chat-48aad.firebaseio.com</string>
</dict>
</plist>